<div class="footer">
  <footer>
    <div class="container" >
      <div class="col-xs-8 col-xs-offset-2">
        <p class="muted credit">
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">FANTOM5 data</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">RIKEN</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://fantom.gsc.riken.jp" rel="dct:source">fantom.gsc.riken.jp</a>
        </p>
      </div>
      <div class="col-xs-2">
        <p style="float:right;" class="muted credit">
          {{package.version}} - {{config.env}}
        </p>
      </div>
    </div>
  </footer>
</div>
