<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/"><i class="glyphicon glyphicon-home"></i> TET</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="#!/sources"><i class="glyphicon glyphicon-info-sign"></i> Data Sources</a></li>
        <li><a href="#!/help"><i class="glyphicon glyphicon-question-sign"></i> Instructions</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="mailto:jayson@gsc.riken.jp">Contact <i class="glyphicon glyphicon-envelope"></i> </a></li>
      </ul>

    </div>

  </div>

</nav>
